../../.idea/
*.py[co]
*.sqlite3
*.sqlite
local.py
.env
docker-compose.yml
*.log
venv/
.venv/
node_modules
__pycache__
.data*
.class.json
c_utils/
_
.coverage

media
assets
.DS_*
.vscode/*
import/*
.idea/*